<!--<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
</head>
<body>
    <p>{{ADVANCEDTEMPLATE}}</p>
     {{>footer}}                      //it goes to footer.hbs
</body>
</html>-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
</head>
<body>
    {{>header}}
    {{>footer}}
</body>
</html>